@use '../../index' as *
  
.Loader__root
  position: relative
  width: 100%
  .Loader__wrapper
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    .Loader__progress
      display: inline-block
      position: relative
      width: 64px
      height: 64px
      span
        display: inline-block
        position: absolute
        left: 6px
        width: 13px
        background: $blue-dark
        animation: loading 0.6s cubic-bezier(0, 0.5, 0.5, 1) infinite
        &:nth-child(1)
          left: 6px
          animation-delay: -0.12s
        &:nth-child(2)
          left: 26px
          animation-delay: -0.06s
        &:nth-child(3)
          left: 45px
          animation-delay: 0
.Loader__root--loading
  &::before
    content: ''
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    background-color: $blue-dark
    opacity: 0.2
    z-index: 1

@keyframes loading
  0%
    top: 6px
    height: 51px
  50%, 100%
    top: 19px
    height: 26px