@use '../../index' as *
  
.Input__root
  display: inline-flex
  position: relative
  min-width: 0
  padding: 0
  border: 0
  vertical-align: top
  .Input__label
    @include font-default(rgba(#000, 0.4))
    display: block
    transform-origin: top left
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: calc( 100% - 24px )
    position: absolute
    left: 0
    top: 0
    transform: translate(16px, 14px) scale(1)
    transition-property: color, transform, max-width
    transition-duration: 200ms
    transition-timing-function: cubic-bezier(0.0, 0, 0.2, 1)
    z-index: 1
    pointer-events: none
  .Input__label--focus, .Input__label--filled
    transform: translate(14px, -9px) scale(0.75)
    max-width: calc( 133% - 24px)
    &::before 
      content: ''
      display: block
      width: 100%
      height: 100%
      position: absolute
      background-color: $white
      z-index: -1
  .Input__label--focus
    color: $blue-dark
  .Input__input-container
    @include font-default()
    display: inline-flex
    align-items: center
    box-sizing: border-box
    border-radius: $border-radius
    border: 1px solid rgba(#000, 0.23)
    cursor: text
    .Input__input
      @include font-default()
      padding: 12px 16px 14px
      display: flex
      border: none
      background-color: transparent
      z-index: 1
      &:focus
        outline: none
  .Input__input-container--focus
    border-color: $blue-dark
    border-width: 2px
    .Input__input
      padding: 11px 15px 13px