@use '../../index' as *
  
.Button__root
  display: inline-flex
  align-items: center
  justify-content: center
  position: relative
  box-sizing: border-box
  background-color: $white
  outline: 0
  cursor: pointer
  user-select: none
  vertical-align: middle
  -webkit-appearance: none
  text-decoration: none
  font-weight: 500
  font-size: 0.875rem
  line-height: 1.75
  letter-spacing: 0.03em
  text-transform: uppercase
  min-width: 64px
  padding: 5px 15px
  border-radius: 4px
  border: 1px solid rgba($blue-dark, 0.5)
  color: $blue-dark
  transition: background-color 250ms
  &:hover
    background-color: $blue-light
    border-color: $blue-dark
.Button__root--disabled
  pointer-events: none
  cursor: default
  color: rgba($black, 0.26)
  background-color: $color-disabled
  border-color: $color-disabled
  box-shadow: none
