@use '../../index' as *

.ProfileReposList__root
  @include card-default
  @include font-default(rgba($black, 0.6), 0.8rem)
  min-height: 310px
  display: flex
  flex-direction: column
  justify-content: space-between
  .ProfileReposList__list
    padding: 0 16px
    .ProfileReposList__list-item
      display: flex
      list-style: none
      padding: 8px 0
      box-sizing: border-box
      border-bottom: 1px solid rgba($black, 0.24)
      &:nth-child(1)
        font-weight: 700
        border-bottom-width: 2px
        border-bottom-color: rgba($black, 0.6)
      .ProfileReposList__list-item__repo-name
        flex: 1
      .ProfileReposList__list-item__repo-description
        flex: 4