$white: #fff
$black: #000
$blue-dark: #1976d2
$blue-light: rgba($blue-dark, 0.04)
$color-default: rgba($black, 0.87)
$color-disabled: rgba($black, 0.12)

$border-radius: 4px
$shape-box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px

@mixin font-default($color: $color-default, $size: 1rem)
  font-weight: 400
  font-size: $size
  line-height: 1.4375em
  letter-spacing: 0.00938em
  color: $color

@mixin card-default
  color: $color-default
  border-radius: $border-radius
  background-color: $white
  box-shadow: $shape-box-shadow
  overflow: hidden
  width: 100%
  min-width: 275px
  
  
body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
